
#title{
  font-size: 40px;
}
h1{
  color: tomato;
  font-size: 40px;
}

button{
  width: 130px;
  padding: 10px 12px;
  background:tomato;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
}

button:hover{
  background:black;
}